/* @import url('https://fonts.googleapis.com/css2?family=Lato&family=Nova+Square&family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
}
body{
    transform:scale3d(2);
    transition: all 1s;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30rem;
    
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    background-color: white;
    text-align: center;
}
button{
    width: 100%;
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    display: block; 
    font-size: 35px;
} */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    display: grid;
    place-items: center;
}
.container{
    width: 50%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 4px 5px 45px rgb(0, 0, 0,0.5);
    padding: 20px;
    text-align: center;
}
#image-select{
    display: none;
}
button,label{
    padding: 10px 20px;
    background: rgb(0, 109, 225);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: .3s linear;
}
button{
    border: none;
    outline: none;
    margin-right: 20px;
}
.preview,.res{
    display: none;
}
.active{
    display: inline-block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid #ccc;

}
.show{
    display: block;
    margin-bottom: 20px;
}

@media(max-width:991px){
    .container{
        width: 60%;
    }
}
@media(max-width:768px){
    .container{
        width: 80%;
    }
}
@media(max-width:450px){
    .container{
        width: 90%;
    }
    button,label{
        display: block;
    }
    button{
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
}